@import 'src/styles/variables';
@import 'src/styles/mixins';


.invitations-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 340px;
  min-height: 600px;

  &__loading-indicator {
    background-color: white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}