.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  color: red;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  // background-color: red;
}

.card-content {
  display: flex;
  flex-direction: column;
}