@import 'src/styles/variables';
@import 'src/styles/mixins';

.sidebar-section {
  display: flex;
  flex-direction: row;
  transition: ease-in-out .2s;
  padding: 10px 24px;

  &:hover {
    background-color: lighten($base-blue, 5%);
  }

  &:hover {
    opacity: 1;
  }

  &--active {
    opacity: 1;
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__icon {
    @include user-select-none;
    height: 20px;
    width: auto;
    margin-right: 20px;
  }

  &__chevron {
    display: flex;
    color: $base-white;
    margin-left: auto;
    transition: transform .2s ease;


    &--active {
      transform: rotate(90deg);
    }
  }
}

.sidebar-section-collapse {
  transition: height 200ms ease-out;

  &--open {
    transition: height 200ms ease-in;
  }
}

.sidebar-section-item {
  display: flex;
  opacity: 1;
  padding: 10px 42px;
  transition: ease-in-out .2s;

  &:hover {
    background-color: lighten($base-blue, 10%);
  }

  // &--active {
  //   opacity: 1;
  //   transition: opacity .2s ease-in .1s;
  // }

  &__title {
    @include user-select-none;
    font-size: 10px;
    border-bottom: 2px solid transparent;
    transition: all .2s ease;
  }
}