@import 'src/styles/variables';
@import 'src/styles/mixins';

.sidebar-section {
  display: flex;
  transition: ease-in-out .2s;
  padding: 10px 24px;
  align-items: center;

  &:hover {
    background-color: lighten($base-blue, 5%);
  }

  &:hover {
    opacity: 1;
  }

  &--active {
    opacity: 1;
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 20px;
    width: auto;
    margin-right: 20px;
  }

  &__chevron {
    display: flex;
    color: $base-white;
    margin-left: auto;
    transition: transform .2s ease;


    &--active {
      transform: rotate(90deg);
    }
  }
}

.sidebar-section-collapse {
  transition: height 200ms ease-out;

  &--open {
    transition: height 200ms ease-in;
  }
}

.sidebar-section-item {
  display: flex;
  opacity: 0;

  &--active {
    opacity: 1;
    transition: opacity .2s ease-in .1s;
  }

  &__title {
    @include user-select-none;
    border-bottom: 2px solid transparent;
    transition: all .2s ease;
  }

  &:hover {
    .sidebar-section-item__title {
      border-color: white;
    }


    background-color: $base-blue;
  }
}