@import 'styles/variables';
@import 'styles/mixins';

.invitations-dropzone {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 2px dashed rgba($base-blue, .4);
  align-items: center;
  justify-content: center;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  padding: 30px;

  &:hover {
    border-color: $base-blue;
  }

  &__image {
    user-select: none;
    display: flex;
    max-height: 80px;
  }

  &__description {
    @include user-select-none;
    text-align: center;
  }
}