@import 'src/styles/variables';
@import 'src/styles/mixins';

.assistance-chart {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: $base-white;
  position: relative;
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;

  &__title {
    position: absolute;
    align-self: flex-start;
    top: 0;
    padding: 20px
  }

  &__legend {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 20px;
    bottom: 0;
  }

  &__message {
    position: absolute;
    text-align: center;
    margin: 40px;
  }
}