@import 'styles/variables';

.logout-button {
  position: absolute;
  z-index: 1;
  margin: 20px;
  left: 0px;
  bottom: 0;
  transform: (rotate(180deg));

  &__root {
    z-index: 1;
    background-color: white;
  }
}