@import 'src/styles/variables';

.invitations-list {
  display: flex;
  flex: 1;
  min-width: 800px;

  &__list {
    background-color: lighten($base-gray, 38%);
  }

  &__add-users-button {
    height: 35px;
  }

  &__plus-icon {
    font-size: 12px;
  }
}