@import "src/styles/variables";

.container {
  display: flex;
  justify-content: center;
  flex: 1;

  &__constrains {
    display: flex;
    flex: 1;
    max-width: 1280px;
    padding: 50px;
    display: flex;
  }

  &__anchor {
    position: absolute;
    top: 0;
    left: 260px;
    right: 0;
    bottom: 0;
    z-index: -100;
  }
}