@import 'src/styles/variables';

.card-header {
  display: flex;
  flex-direction: column;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1
  }

  &__avatar {
    margin-right: 14px;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__divider {
    margin: 20px 0 0 50px;
  }
}