@import 'styles/variables';

.card-header {
  display: flex;
  flex-direction: column;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1
  }

  &__avatar {
    margin-right: 14px;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__divider {
    display: flex;
    height: 1px;
    margin: 20px 0;
    background-color: lighten($base-gray, 30%);
  }
}