@import 'src/styles/variables';
@import 'src/styles/mixins';

.server-error-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__description {
    @include user-select-none;
    max-width: 300px;
    margin: 20px;
  }

  &__image {
    @include user-select-none;
    height: 90px;
  }
}