// colors
$primaryColor: #0089FF;
$secondaryColor: #FFFFFF;
$tertiaryColor: #535A67;
$quartenaryColor: #9DA5B4;
$quinaryColor: #F2F2F4;
$senaryColor: lightGray;


// fonts
$primaryFont: 'Poppins-Regular'