// fonts
$paragraph-font: 'OpenSans-Regular';
$header-font: 'Poppins-Regular';

//colors 

$base-blue: #0089FF;
$base-violet: #8359FF;
$base-pink: #FA9194;
$base-gray: #999999;
$base-white: #FFFFFF;
$base-charcoal: #535A67;
$base-black: #000000;