@import 'src/styles/variables';
@import 'src/styles/mixins';

.sidebar-section {

  &__panel {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    color: $base-white;
    width: 30px;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 20px;
  }

  &__icon-element {
    color: $base-white;
    font-size: 2em;
  }

  &__chevron {
    display: flex;
    color: $base-white;
    margin-left: auto;
    transition: transform .2s ease;


    &--active {
      transform: rotate(90deg);
    }
  }
}

.sidebar-section-collapse {
  transition: height 200ms ease-out;

  &--open {
    transition: height 200ms ease-in;
  }
}

.sidebar-section-item {
  display: flex;
  margin: 5px 50px;
  opacity: 0;

  &--active {
    opacity: 1;
    transition: opacity .2s ease-in .1s;
  }

  &__title {
    @include user-select-none;
    border-bottom: 2px solid transparent;
    transition: all .2s ease;
  }

  &:hover {
    .sidebar-section-item__title {
      border-color: white;
    }
  }
}