@import 'styles/variables';



.typography {
  font-family: 'Poppins-Light';
  user-select: none;
  font-size: .9em;

  &--title {
    font-family: 'Poppins-Regular';
    font-size: 1.8em;
  }

  &--header {
    font-family: 'Poppins-Regular';
    font-size: 1.2em;
  }

  &--h1 {
    font-family: 'Poppins-Regular';
    font-size: 1.6em;
  }

  &--h2 {
    font-family: 'Poppins-Regular';
    font-size: 1.3em;
  }

  &--h3 {
    font-family: 'Poppins-Regular';
    font-size: 1.1em;
  }

  &--h4 {
    font-family: 'Poppins-Regular';
    font-size: 1em;
  }

  &--primary {
    color: $primaryColor
  }

  &--secondary {
    color: $secondaryColor
  }

  &--tertiary {
    color: $tertiaryColor
  }

  &--quartenary {
    color: $quartenaryColor
  }
}