@import 'src/styles/variables';
@import 'src/styles/mixins';

.typography {
  @include user-select-none;
  font-family: 'OpenSans-Regular';
  line-height: 1.5em;
  font-size: 1em;
  color: darken($base-gray, 10%);

  &--paragraph {
    @extend .typography;
  }

  &--h1 {
    font-family: 'Poppins-Regular';
    font-size: 2.98598em;
    line-height: normal;
  }

  &--h2 {
    font-family: 'Poppins-Regular';
    font-size: 2.48832em;
    line-height: normal;
  }

  &--h3 {
    font-family: 'Poppins-Regular';
    font-size: 2.0736em;
    line-height: normal;
  }

  &--h4 {
    font-family: 'Poppins-Regular';
    font-size: 1.728em;
  }

  &--h5 {
    font-family: 'Poppins-Regular';
    font-size: 1.44em;
  }

  &--h6 {
    font-family: 'Poppins-Regular';
    font-size: 1.2em;
  }

  &--h7 {
    font-family: 'Poppins-Regular';
    font-size: 1em;
  }

  &--h8 {
    font-family: 'Poppins-Regular';
    font-size: .8em;
  }

  &--blue {
    color: $base-blue;
  }

  &--white {
    color: $base-white;
  }

  &--black {
    color: $base-black;
  }

  &--charcoal {
    color: $base-charcoal;
  }

  &--black {
    color: black
  }

  &--dark-blue {
    color: $dark-blue
  }

  &--light {
    font-family: 'Poppins-Light';
  }

  &--bold {
    font-family: 'Poppins-Medium';
  }

  &--control {
    font-family: 'Roboto-Regular';
  }

  &--error {
    color: $base-red;
  }

  &--success {
    color: $base-green;
  }
}