.overview {

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    padding: 10px 0;
  }

  &__page {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}