@import 'src/styles/variables';
@import 'src/styles/mixins';

.more {
  @include pointer-on-hover;
  @include user-select-none;
  display: flex;
  padding: 0 20px 0 10px;

  &__icon {
    color: $base-blue;
    transition: all ease-in .2s;
  }

  &:hover {
    .more__icon {
      color: lighten($base-blue, 18%);
      transition: all ease-in .2s;
    }
  }


  &__menu {
    display: flex;
    flex: 1;
    flex-direction: column;

    :not(:last-child) {
      border-bottom: 1px solid lighten($base-gray, 35%);
    }
  }

  &__menu-item {
    @include pointer-on-hover;
    align-items: center;
    display: flex;

    &:hover {
      transition: box-shadow .2s ease, background-color .2s ease;
      background-color: lighten($base-gray, 35%);

      .more__menu-item-title {
        transition: box-shadow .2s ease, color .2s ease;
        color: $base-blue;
      }
    }
  }

  &__menu-item-title {
    @include user-select-none;
    display: flex;
    flex: 1;
    font-family: 'Roboto';
    font-size: 1em;
    padding: 10px 20px;
    color: $base-charcoal;
  }
}