@import 'src/styles/variables';

.with-sidebar {
  display: flex;
  flex: 1;

  &__menu {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  &__sections {
    margin: 20px 0px;
  }
}