@import 'src/styles/mixins';
@import 'src/styles/variables';

.uploader-initial-screen {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.uploader-sample {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__image {
    @include user-select-none;
    height: 60px;
    padding-bottom: 20px;
  }

  &__description {
    @include user-select-none;
    color: darken($base-gray, 20%)
  }

  &__link {
    transition: opacity .1s ease-in;
    color: $base-blue;
    text-decoration: none;
    font-family: 'OpenSans-Regular';

    &:hover {
      opacity: 0.5
    }
  }
}

.uploader-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__image {
    @include user-select-none;
    height: 60px;
    margin-bottom: 20px;
  }

  &__description {
    @include user-select-none;
    color: darken($base-gray, 20%)
  }
}