@import 'styles/variables';

.card-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  &__image {
    height: 14px;
    padding: 3px;
  }

  &__value {
    color: $base-black;
  }
}