@import 'styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: move-up-down 800ms linear infinite;
  position: absolute;
}

.logo {
  user-select: none;
  width: 40px;
  height: auto
}

@keyframes move-up-down {

  0%,
  100% {
    bottom: 51%;
  }

  50% {
    bottom: 51.5%;
  }
}