@import 'src/styles/variables';
@import 'src/styles/mixins';

.divider {
  display: flex;
  height: 1px;
  background-color: lighten($base-gray, 30%);

  &--gradient {
    @include gradient-background;
  }

  &--bold {
    height: 2px;
  }
}