@import 'src/styles/variables';
@import 'src/styles/mixins';

.cancel-button {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;

  @include pointer-on-hover;

  &__image {
    @include user-select-none;
    background-color: white;
    width: 12px;
    height: 12px;
    transition: opacity .1s ease;
  }
}