@import 'styles/variables';

.cancel-button {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;

  &__image {
    user-select: none;
    background-color: white;
    width: 18px;
    height: 18px;
    transition: opacity .1s ease;
  }
}