@import 'styles/variables';
@import 'styles/mixins';

.card-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include user-select-none;

  &__image {
    height: 17px;
    padding: 2px;
  }

  &__value {
    color: $base-black;
  }
}