@import 'styles/variables.scss';

.overview-section {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__title {
    margin: 10px 0;
  }

  &__items {
    position: relative;
    display: grid;
    gap: 1.4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &__footer {
    display: flex;
    height: 60px;
    flex: 1;
  }
}