@import 'src/styles/variables';
@import 'src/styles/mixins';

.profile-card {
  display: flex;
  align-items: center;

  &__details {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__name {
    @include user-select-none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
  }

  &__email {
    @extend .profile-card__name;
    font-size: .8em;
    opacity: .7;
  }

  &__avatar {
    margin-right: 14px;
    height: 48px;
    width: 48px;
    background-color: $base-white;
  }
}