@import 'src/styles/variables';

.table-row {
  display: flex;

  &__container {
    display: flex;
    flex: 1;
    border-top: 1px solid lighten($base-gray, 35%);

    &--first {
      border: none
    }
  }
}