@import 'src/styles/variables';
@import 'src/styles/mixins';

.password-reset-authentication {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &__container {
    display: flex;
    width: 240px;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
  }

  &__logo {
    @include user-select-none;
    width: 100px;
    height: auto;
    align-self: center;
    margin-bottom: 30px;
  }

  &__fields-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 120px;
  }

  &__button {
    width: 100px;
    align-self: center;
  }

  &__error {
    display: flex;
    flex-wrap: wrap;
    font-size: .8em;
    font-family: 'Roboto-Regular';
    height: 30px;
  }
}