@import 'src/styles/mixins';

.experts-list {
  display: flex;

  &__footer {
    display: flex;
    height: 50px;
  }

  &__element {
    @include hide-backface-visibility;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}