@import 'src/styles/variables';

.date-cell {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;

  &__details {
    font-size: .9em;
  }
}