@import 'src/styles/variables';

.page {

  &__title {
    color: $base-charcoal;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__container-constraints {
    flex-direction: column;
    padding-top: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }
}