.page {

  &__content {
    display: flex;
    flex: 1;
  }

  &__container-constraints {
    flex-direction: column;
    padding-top: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }
}