@import 'src/styles/variables';

.virtualized-list-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;

  &__list {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}