@import 'src/styles/variables';
@import 'src/styles/mixins';

.avatar {
  display: flex;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: lighten($base-gray, 35%);
  position: relative;
  justify-content: center;
  border: 2px solid lighten($base-gray, 20%);

  &__label {
    position: absolute;
    display: flex;
    background-color: $base-green;
    align-self: flex-end;
    bottom: -2px;
    right: 3px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
  }

  &__label-text {
    display: none;
  }

  &__image {
    @include user-select-none;
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &--small {
    height: 40px;
    width: 40px;

    .avatar__label {
      display: none;
    }

    .avatar__label-text {
      display: none;
    }
  }

  &--large {
    height: 120px;
    width: 120px;
    border: 3px solid lighten($base-gray, 20%);

    .avatar__label {
      height: auto;
      width: auto;
      padding: 1px 7px;
      border-radius: 10px;
      position: absolute;
      bottom: -7px;
      right: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .avatar__label-text {
      display: flex;
      font-size: .8em;
    }
  }
}