@import 'src/styles/mixins';

@mixin icon-defaults {
  @include user-select-none;
  margin: 5px;
}

.plus-icon {
  @include icon-defaults;
}

.chevron-icon {
  @include icon-defaults;
}

.search-icon {
  @include icon-defaults;
}

.cancel-circle-icon {
  @include icon-defaults;
}

.invites-icon {
  @include user-select-none;
  margin: 10px 10px 10px 0;
}

.click-icon {
  @include user-select-none;
  margin: 10px 10px 10px 0;
}