.sidebar {
  display: flex;
  width: 260px;
  height: 100vh;
  align-self: flex-start;
  flex-direction: column;
  background: rgb(0, 137, 255);
  background: linear-gradient(180deg, rgba(0, 137, 255, 1) 0%, rgba(131, 89, 255, 1) 61%);
  border-radius: 0 0 40px 0;
}